.parent {
    width: 500px;
    height: 60px;
    position: relative;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* background-color: red; */
    /* vertical-align: middle;
    text-align: center; */
    margin: auto;
}

.parent img {
    width: 200px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tools {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    /* background-color: grey; */
}

.tool__info {
    font-size:30px;
    color: white;
}

.no{
    position: absolute;
    font-size: xx-large;
    padding-bottom: 20px;
    padding-top: 2px;
    color: white;
}